<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Posters van Amsterdam</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link href="/manifest.json" rel="manifest">
</head>

<body>
  <header>
    <a href="/">
      <img src="/images/logo.svg" alt="Logo">
    </a>
    <nav>
      <ul>
        <li>
          <a href="/" class="active">Posters</a>
        </li>
        <li>
          <a href="#favorieten">Favorieten</a>
        </li>
      </ul>
    </nav>
  </header>
